/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #9f0;
  background-color: #9f0;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.slider-pager
{
    stroke: #9f0 !important;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

.stripLine{
  background-color: #f5f5f5;
}

.list .item {
  background: transparent !important;
}

.tran-menu, .tran-menu > a{
  background: transparent !important;
  border: 0;
}
.no-border{
  border: 0;
}
.button-clicked{
  color:#3293b0
}

.button-no-clicked{
  color: #fff;
}

.button-clicked-dark{
  color:#3293b0
}

.button-no-clicked-dark{
  color: #a6a6a6;
}

.bg-color{
  background: linear-gradient(#21c5f4, #5586d7);
}

.bg-nav-color{
  background-color: #21c5f4;
  background-image: url('img/icon.png')
}

.ionic .item-text-wrap { /* negate the nowrap CSS from .ionic .item */
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
}
.slider-pager .slider-pager-page
{
    color: #fff !important;
}

.bar.bar-light {
    background-color: #21c5f4;
}
.scroll-content {
    overflow: visible !important;
}

.transaction-divider{
  border-bottom: 1px solid rgba(232,232,232,0.5);width: 96%;margin-left:2%;
  padding-bottom: 6px;
  padding-top: 6px;

}

.transaction-divider-last{
  width: 96%;
  margin-left:2%;
  padding-bottom: 6px;
  padding-top: 6px;
}
