<ion-view ng-controller="BankAccountCtrl">
    <ion-nav-title>
        <span style="color:white; font-size:20px;font-weight: 500;">Link Bank Account</span>
    </ion-nav-title>
    
    <ion-content class="bg-color">
    <div ng-model="fastLinkURL">
            <form action="https://node.developer.yodlee.com/authenticate/restserver/" method="post" id="rsessionPost" target="yodlee_iframe">
                RSession : <input type='text' name='rsession' placeholder='rsession' value='{{fastLinkURL.rsession}}' id='rsession'/>
                FinappId : <input type='text' name='app' placeholder='FinappId' value='{{fastLinkURL.finAppId}}' id='finappId'/>
                Redirect : <input type='text' name='redirectReq' placeholder='true/false' value='{{fastLinkURL.redirectReq}}' />
                Token : <input type='text' name='token' placeholder='token' value='{{fastLinkURL.token}}' id='token'/>
                Extra Params : <input type='text' name='extraParams' placeholer='Extra Params' value="" id='extraParams'/>
            </form>
    </div>
    
    <iframe name="yodlee_iframe "src="test.html"></iframe>
    </ion-content>
</ion-view>