<ion-view view-title="">

  <ion-slide-box on-slide-changed="slideChanged(index)">

    <ion-slide style="background: linear-gradient(#3293b0, #5586d7); font-family:'Helvetica Neue !important;'">
      <!--slide 1-->
      <div id="logo" style="margin-top:18%;">
        <img src="img/icon.png" style="width: 87px;height: 66px;">
      </div>
      <h2 style="color:white">Welcome to Nest</h2>
      <h4 style="color:#b3b3b3">Swipe to learn more</h4>

      <!--<button ng-click="startApp()">test</button>-->
    </ion-slide>

    <ion-slide style="background: linear-gradient(#3293b0, #5586d7);">
    <!-- slide 2-->
      <div style="margin-top: -57px; ">
        <img src="img/icon_nest.png" style="width: 67px;height: 70px;">
      </div>

      <div style="margin-top:80px;">
        <img src="img/coffee.png" style="width: 66px;height: 114px;">
      </div>
      <h3 style="color:white">Invest Spare Change Daily</h3>
      <h4 style="color:#b3b3b3">Nest rounds up every purchase</h4>
      <h4 style="color:#b3b3b3">you make to the next dollar and</h4>
      <h4 style="color:#b3b3b3">invests it for you</h4>
    </ion-slide>

    <ion-slide style="background: linear-gradient(#3293b0, #5586d7);">
      <!-- slide 3-->
      <div style="margin-top: -57px; ">
        <img src="img/icon_nest.png" style="width: 67px;height: 70px;">
      </div>

      <div style="margin-top:95px;">
        <img src="img/BlackRock.png" style="width: 146px;height: 58px;">
      </div>
      <h3 style="color:white">The World's Largest Asset Manager</h3>
      <h4 style="color:#b3b3b3">Utilize the collective intelligence of</h4>
      <h4 style="color:#b3b3b3">the world's largest and brightest</h4>
      <h4 style="color:#b3b3b3">asset management firm. We do</h4>
      <h4 style="color:#b3b3b3">the heavy lifting for you - for free.</h4>

    </ion-slide>

    <ion-slide style="background: linear-gradient(#3293b0, #5586d7);">
      <!-- slide 4-->
      <div style="margin-top: -57px; ">
        <img src="img/icon_nest.png" style="width: 67px;height: 70px;">
      </div>

      <div style="margin-top:95px;">
        <img src="img/BlackRock.png" style="width: 146px;height: 58px;">
      </div>
      <h3 style="color:white">The World's Largest Asset Manager</h3>
      <h4 style="color:#b3b3b3">Utilize the collective intelligence of</h4>
      <h4 style="color:#b3b3b3">the world's largest and brightest</h4>
      <h4 style="color:#b3b3b3">asset management firm. We do</h4>
      <h4 style="color:#b3b3b3">the heavy lifting for you - for free.</h4>

    </ion-slide>



  </ion-slide-box>
</ion-view>
