<ion-view class="background" view-title="">

  <ion-slide-box on-slide-changed="slideChanged(index)">

    <ion-slide>
      <!--slide 1-->
      <div id="logo" style="margin-top:18%;">
        <img src="img/icon.png" style="width: 87px;height: 66px;">
      </div>
      <h2>Welcome to Nest</h2>
      <h4 class="gray-text">Swipe to learn more</h4>

      <!--<button ng-click="startApp()">test</button>-->
    </ion-slide>

    <ion-slide>
      <!-- slide 2-->
      <div style="margin-top: -40px; ">
        <img src="img/icon_nest.png" style="width: 67px;height: 70px;">
      </div>

      <div style="margin-top:80px;">
        <img src="img/coffee.png" style="width: 66px;height: 114px;">
      </div>
      <h3>Invest Spare Change Daily</h3>
      <h4 class="gray-text">Nest rounds up every purchase</h4>
      <h4 class="gray-text">you make to the next dollar and</h4>
      <h4 class="gray-text">invests it for you</h4>
    </ion-slide>

    <ion-slide>
      <!-- slide 3-->
      <div style="margin-top: -40px; ">
        <img src="img/icon_nest.png" style="width: 67px;height: 70px;">
      </div>

      <div style="margin-top:80px;">
        <img src="img/BlackRock.png" style="width: 200px;height: 80px;">
      </div>
      <h3>The World's Largest</h3>
      <h3>Asset Manager</h3>
      <h4 class="gray-text">Utilize the collective intelligence of</h4>
      <h4 class="gray-text">the world's largest and brightest</h4>
      <h4 class="gray-text">asset management firm. We do</h4>
      <h4 class="gray-text">the heavy lifting for you.</h4>

    </ion-slide>

    <ion-slide>
      <!-- slide 4-->
      <div style="margin-top: -40px; ">
        <img src="img/icon_nest.png" style="width: 67px;height: 70px;">
      </div>

      <br>

      <h3>Make More than Just Money</h3>
      <h4 class="gray-text">Nest rewards you with points.</h4>
      <h4 class="gray-text">and badges.</h4>

      <div style="margin-top:15px;">
        <img src="img/trophy.png" style="width: 80px;height: 100px;">
      </div>
      <h4 class="gray-text">Duke it out with your friends</h4>
      <h4 class="gray-text">to see who's the best investor.</h4>
      <button ng-click="signup()" style="width: 80%;margin-left: 10%;margin-top:40px; background-color:#d2d2e0;" class="button button-block">
        Sign up
      </button>
      <button ng-click="login()" style="width: 80%;margin-left: 10%;margin-top:10px;" class="button button-block button-stable">
        Sign in
      </button>
    </ion-slide>
    
  </ion-slide-box>
  
</ion-view>
