<ion-view view-title="Choose your Investment Strategy" hide-back-button="false">
<!--   <ion-header-bar> -->
<!--   <div class="buttons"> -->
<!--       <button class="button button-balanced" ng-click="goToStep1()"> Back</button> -->
<!--     </div> -->
<!--     <h1 class="title">Step 2</h1> -->
<!--      <div class="buttons"> -->
<!--       <button class="button button-positive" ng-click="goToSummary()">Finish</button> -->
<!--     </div> -->
<!--   </ion-header-bar> -->
  <ion-content>
    <form >
      <div class="list">
        <label class="item">
          <h2 class="title">Conservative</h2>
        </label>
        <label class="item ">
          <h2 class="title">Moderately Conservative</h2>
        </label>
        <label class="item">
          <h2 class="title">Moderate</h2>
        </label>
        <label class="item">
          <h2 class="title">Moderately Aggresive</h2>
        </label>
        <label class="item">
          <h2 class="title">Aggresive</h2>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
