<ion-view ng-controller="LeaderboardCtrl">
  <ion-nav-title>
  <span style="color:white; font-size:20px;font-weight: 500;">Leaderboard</span>
  </ion-nav-title>

 <ion-content class="bg-color">
  <div class="list">
          <ion-item ng-click="signOut()" class="item " ng-repeat=" item in friendsData" ng-class="$odd ? 'stripLine' : ''">
            <div style="width:100%;">
            <span style="color:white; float: left;font-size:20px;font-weight: 500;margin-right:30%;width:25%;"><img src="{{item.image}}" style="width: 20px;height: 20px;margin-right:4%;">{{item.name}}</span>
            <span  style="color:white; font-size:24px;font-weight: 500;margin-right:10%;"><img src="img/coins.png" style="width: 20px;height: 20px;margin-right:2%;"> {{item.coins}} </span>
            <span  style="color:white; float: right;font-size:24px;font-weight: 500;margin-right:5%;"><i class="fa fa-thumbs-up fa-fw " style="font-size: 18px;"></i>  </span>
           	<span  style="color:white; float: right;font-size:24px;font-weight: 500;margin-right:5%;"><i class="fa fa-thumbs-down fa-fw " style="font-size: 18px;"></i>  </span>
            </div>
          </ion-item>
        </div>
  </ion-content>
  
</ion-view>