<ion-view >
<ion-nav-title>
<span style="color:white;font-size:20px;font-weight:500;">Sign in with your Nest account</span>
</ion-nav-title>
<!--   <ion-header-bar> -->
<!--     <h1 class="title">Login</h1> -->
<!--     <div class="buttons"> -->
<!--       <button class="button button-clear" ng-click="closeLogin()">Close</button> -->
<!--     </div> -->
<!--   </ion-header-bar> -->
  <ion-content class="bg-color">
    <form >
      <div class="list">
        <label class="item item-input no-border">
          <span class="input-label" style="color:white;">Email</span>
          <input type="email" style="color:white;"ng-model="data.username">
        </label>
        <label class="item item-input no-border">
          <span class="input-label" style="color:white;">Password</span>
          <input type="password" style="color:white;" ng-model="data.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="login()">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
