<ion-view >
  <ion-nav-title>
    <h2 class="nav-header">Sign In</h2>
  </ion-nav-title>
  <ion-content>
    <form >
      <div class="list">
        <label class="item item-input no-border">
          <span class="input-label light">Email</span>
          <input type="email" style="color:white;" ng-model="data.username">
        </label>
        <label class="item item-input no-border">
          <span class="input-label light">Password</span>
          <input type="password" style="color:white;" ng-model="data.password">
        </label>
        <label class="item">
          <button class="button button-block button-stable" ng-click="login()">Sign In</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
