<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable tran-header-bar" ng-show="showHeaderBar">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background: linear-gradient(#5685d8, #717cf6,#8677f6)">
    <ion-header-bar class="bar-stable tran-menu">
      <h1  style="color: white;" class="title">{{userName}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list >
        <ion-item class="tran-menu" menu-close href="#/app/summary" style="color: white;font-weight: 500;">
          <i class="fa fa-university fa-fw fa-inverse"></i> &nbsp;Home
        </ion-item>
        <ion-item class="tran-menu"  menu-close href="#/app/performance" style="color: white;font-weight: 500;">
          <i class="fa fa-bar-chart fa-fw fa-inverse"></i> &nbsp;Performance
        </ion-item>
        <ion-item class="tran-menu"  menu-close href="#/app/subscriptions" style="color: white;font-weight: 500;">
          <i class="fa fa-exchange fa-fw fa-inverse"></i> &nbsp;Deposit
        </ion-item>
        <ion-item class="tran-menu"  menu-close href="#/app/transactions" style="color: white;font-weight: 500;">
          <i class="fa fa-money fa-fw fa-inverse"></i> &nbsp;Transactions
        </ion-item>
        <ion-item class="tran-menu"  menu-close href="#/app/whatIf" style="color: white; font-weight: 500;">
          <i class="fa fa-calculator fa-fw fa-inverse"></i> &nbsp;iRetire
        </ion-item>
        <ion-item class="tran-menu"  menu-close href="#/app/inviteFriends" style="color: white; font-weight: 500;">
          <i class="fa fa-users fa-fw fa-inverse" ></i> &nbsp;Invite Friends
        </ion-item>
<!--         <ion-item menu-close href="#/app/transfer">
          Transfer to Bank
        </ion-item> -->
        <ion-item class="tran-menu"  menu-close href="#/app/settings" style="color: white; font-weight: 500;">
          <i class="fa fa-cog fa-fw fa-inverse"></i> &nbsp;Settings
        </ion-item>
<!--         <ion-item menu-close ng-click="logout()">
          Sign out
        </ion-item> -->
      </ion-list>

      <div style="margin-top:100px; margin-left: 30px;">
        <img src="img/blkPower.png" style="width: 111px;height: 30px;">
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
