<ion-side-menus enable-menu-with-back-views="false">
  
  <ion-side-menu-content>
  
    <ion-nav-bar class="bg-nav-color" ng-show="showHeaderBar">
      <ion-nav-buttons side="left">
        <button style="color:white !important;"class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
  
    <ion-nav-view name="menuContent"></ion-nav-view>
  
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background: linear-gradient(#5685d8, #717cea,#8f70ff)">
    <ion-content>
      <ion-list >
        <div id="logo" style="margin-top:18%;">
          <div ng-show="!isNewUser()">
            <center><img src="img/profile.png" style="width: 100px;height: 100px;"></center>
            <center><h3 style="font-weight: 200; font-size: 30px;">Vishal Shah</h3></center>
          </div>
          <div ng-show="isNewUser()">
            <center><img src="img/new_profile.png" style="width: 100px;height: 100px;"></center>
            <center><h3 style="font-weight: 200; font-size: 30px;">John Doe</h3></center>
          </div>
        </div>
        <ion-item class="tran-menu menu-text" menu-close href="#/app/summary">
          <i class="fa fa-university fa-fw fa-inverse" style="font-size: 20px;"></i> &nbsp;Home<br>
        </ion-item>
        <ion-item class="tran-menu menu-text" menu-close href="#/app/performance">
          <i class="fa fa-bar-chart fa-fw fa-inverse" style="font-size: 20px;"></i> &nbsp;Portfolio<br>
        </ion-item>
        <ion-item class="tran-menu menu-text" menu-close href="#/app/subscriptions">
          <i class="fa fa-exchange fa-fw fa-inverse" style="font-size: 20px;"></i> &nbsp;Deposit<br>
        </ion-item>
        <ion-item class="tran-menu menu-text" menu-close href="#/app/transactions">
          <i class="fa fa-money fa-fw fa-inverse" style="font-size: 20px;"></i> &nbsp;Transactions<br>
        </ion-item>
        <ion-item class="tran-menu menu-text" menu-close href="#/app/leaderboard">
          <i class="fa fa-users fa-fw fa-inverse" style="font-size: 20px;"></i> &nbsp;Leaderboard<br>
        </ion-item>
        <ion-item class="tran-menu menu-text" menu-close href="#/app/settings">
          <i class="fa fa-sliders fa-fw fa-inverse" style="font-size: 20px;"></i> &nbsp;Simulator
        </ion-item>
        <ion-item class="tran-menu menu-text" menu-close href="#/app/settings">
          <i class="fa fa-cog fa-fw fa-inverse" style="font-size: 20px;"></i> &nbsp;Settings
        </ion-item>
      </ion-list>

      <div style="margin-top:30px; margin-left: 15px;">
          <img src="img/blkPower.png" style="width: 110px;height: 30px;">
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
