<ion-view view-title="Performance" ng-controller="PerformanceCtrl">

  <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="false">
    <ion-slide>
      <ion-content>

        <div style="padding:2%;">
          <!--<canvas id="pie" class="chart chart-pie" chart-data="pieData" chart-labels="pieLabels"-->
                  <!--chart-options="pieOptions">-->
          <!--</canvas>-->

          <canvas class="chart chart-base" chart-type="type" chart-data="data" chart-labels="labels"></canvas>
        </div>

        <div class="list">
          <a class="item" ng-repeat=" item in composite" ng-class="$odd ? 'stripLine' : ''">
            <span style="float: left">{{item.title}}</span>
            <span style="float: right">{{item.percentage}}</span>
          </a>
        </div>

      </ion-content>
    </ion-slide>

    <ion-slide>
      <div class="box yellow"><h1>YELLOW</h1></div>
    </ion-slide>
  </ion-slide-box>

</ion-view>
