<ion-view view-title="Performance" ng-controller="PerformanceCtrl">

  <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="false">
    <ion-slide>
      <ion-content>

        <div style="padding:2%;">
          <!--<canvas id="pie" class="chart chart-pie" chart-data="pieData" chart-labels="pieLabels" chart-legend="true"-->
                  <!--chart-options="pieOptions">-->
          <!--</canvas>-->
          <nvd3 options="vmoptions" data="vmdata"></nvd3>
        </div>

        <div class="list">
          <a class="item" ng-repeat=" item in composite" ng-class="$odd ? 'stripLine' : ''">
            <span style="float: left">{{item.title}}</span>
            <span style="float: right">{{item.percentage}}</span>
          </a>
        </div>

      </ion-content>
    </ion-slide>

    <ion-slide>
      <!--slide 2-->
      <ion-content>
        <div style="padding:2%; ">
          <!--<canvas class="chart chart-base" chart-type="type" chart-data="balanceData" chart-legend="true"-->
                  <!--chart-labels="balancedLabels"></canvas>-->
          <nvd3 options="balancedOptions" data="balanceD3Data"></nvd3>
        </div>

        <div class="list">
          <a class="item" ng-repeat=" item in composite" ng-class="$odd ? 'stripLine' : ''">
            <span style="float: left">{{item.title}}</span>
            <span style="float: right">{{item.percentage}}</span>
          </a>
        </div>

      </ion-content>
    </ion-slide>
  </ion-slide-box>

</ion-view>
