<ion-view ng-controller="SettingsCtrl">
  <ion-nav-title>
  <span style="color:white; font-size:20px;font-weight: 500;">Settings</span>
  </ion-nav-title>

 <ion-content class="bg-color">
  <div class="list">
          <ion-item ng-click="signOut()" class="item no-border" ng-repeat=" item in settingsData" ng-class="$odd ? 'stripLine' : ''">
            <div style="width:100%;">
            <span style="color:white; float: left;font-size:20px;font-weight: 500;">{{item.settingDescription}}</span>
            <span style="color:white; float: right;font-size:24px;font-weight: 500;"> > </span>
            </div>
          </ion-item>
        </div>
  </ion-content>
  
</ion-view>