<ion-view view-title="Get Started" hide-back-button="false">
  <ion-content>
     <form >
      <div class="list">
        <label class="item ">
          <h2 class="title">Follow these steps to become a Micro Investor.It will take a few minutes</h2>
        </label>
        <label class="item">
          <span class="input-label">Step 1 - Create your Profile</span>
        </label>
        <label class="item">
          <span class="input-label">Step 2 - Choose your Investment Strategy</span>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="goToStep1()">Continue</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>