<ion-view view-title="Get Started">
  <ion-content>
     <form >
      <div class="list">
        <label class="item ">
          <span class="input-label">Follow these steps to become a Micro Investor.It will take a few minutes</span>
        </label>
        <label class="item">
          <span class="input-label">Step 1 - Create your Profile</span>
        </label>
        <label class="item">
          <span class="input-label">Step 2 - Choose your Investment Strategy</span>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="goToStep1()">Continue</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>