<ion-view view-title="Get Started">
        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Go to Login
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Back
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Finish
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
        
<!--         slide1 -->
          <ion-slide>
           <div class="list">
        <label class="item ">
          <h2 class="title">Follow these steps to become a Micro Investor.It will take a few minutes</h2>
        </label>
        <label class="item">
          <span class="input-label">Step 1 - Create your Profile</span>
        </label>
        <label class="item">
          <span class="input-label">Step 2 - Choose your Investment Strategy</span>
        </label>
<!--         <label class="item"> -->
<!--           <button class="button button-block button-positive" ng-click="goToStep1()">Continue</button> -->
<!--         </label> -->
      </div>
          </ion-slide>
          
<!--           slide2 -->
          <ion-slide>
             <h3>User Details</h3>
           <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="data.firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="data.lastName">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="data.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Email</span>
          <input type="email" ng-model="data.confirmEmail">
        </label>
        <label class="item item-input">
          <span class="input-label">Date of Birth</span>
          <input type="date" ng-model="data.dob">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="data.password">
        </label>
<!--         <label class="item"> -->
<!--         <div class="buttons"> -->
<!--       		<button class="button button-assertive" style="float:left;" ng-click="goToSignUp()">Back</button> -->
<!--       		<button class="button button-positive" style="float:right;" ng-click="goToStep2()">Next</button> -->
<!--     	</div> -->
<!--     	</label> -->
      </div>
          </ion-slide>
          
          
<!--           slide3 -->
                <ion-slide>
                
                <label class="item">
          <h2 class="title">What kind of an Investor are you?</h2>
        </label>
           <div class="list">
        
        <label class="item" ng-click="next()">
          <h3 class="title">Stingy</h3>
        </label>
         <label class="item" ng-click="next()">
          <h3 class="title">Average Joe</h3>
        </label>
         <label class="item" ng-click="next()">
          <h3 class="title">Opportunist</h3>
        </label>
         <label class="item" ng-click="next()">
          <h3 class="title">Adrenaline Junkie</h3>
        </label>

      </div>
          </ion-slide>
          
          
          <!--           slide4 -->
                <ion-slide>
                
                <label class="item">
          <h2 class="title">What is your Investment horizon?</h2>
        </label>
           <div class="list">
        
        <label class="item" ng-click="next()">
          <h3 class="title">6 months</h3>
        </label>
         <label class="item" ng-click="next()">
          <h3 class="title">1-2 Years</h3>
        </label>
         <label class="item" ng-click="next()">
          <h3 class="title">2+ Years</h3>
        </label>

      </div>
          </ion-slide>
          
<!--           slide5 -->
          <ion-slide>
      
      <div class="bar bar-subheader" >
        <div class="button-bar">
            <a class="button" ng-class="{'button-positive': isSelected('conservative')}" ng-click="setSelected('conservative')">Conservative</a>
            <a class="button" ng-class="{'button-positive': isSelected('moderate')}" ng-click="setSelected('moderate')">Moderate</a>
            <a class="button" ng-class="{'button-positive': isSelected('growth')}" ng-click="setSelected('growth')">Growth</a>
            <a class="button" ng-class="{'button-positive': isSelected('aggresive')}" ng-click="setSelected('aggresive')">Aggresive</a>
        </div>
    </div>
    <ion-content>
    	<div>
    	<span >{{textMap[selectedCategory]}}</span>
    	
    	</div>
    
    <div>
    	<h2>Underlying ETF's are - </h2>
    	<div class="list">
          <a class="item" ng-repeat=" item in etfMap[selectedCategory]" ng-class="$odd ? 'stripLine' : ''">
            <span style="float: left">{{item}}</span>
          </a>
        </div>
    	
    </div>
    
    
      <div ng-show="active == 'performance'">
      <div class="list">
          <a class="item" ng-repeat=" item in categoryPerformanceMap[selectedCategory]" ng-class="$odd ? 'stripLine' : ''">
            <span style="float: left">{{item.title}}</span>
            <span style="float: right">{{item.value}}%</span>
          </a>
        </div>
      </div>
      
<!--       <div ng-show="active == 'composition'"> -->
<!--       <div class="list"> -->
<!--           <a class="item" ng-repeat=" item in compositeMap[selectedCategory]" ng-class="$odd ? 'stripLine' : ''"> -->
<!--             <span style="float: left">{{item.title}}</span> -->
<!--             <span style="float: right">{{item.value}}%</span> -->
<!--           </a> -->
<!--         </div> -->
<!--       </div> -->
      </ion-content>
      
      
<!--       <div class="bar bar-subfooter" style="width:40%;left:30%;"> -->
<!--         <div class="button-bar"> -->
<!--             <a class="button" ng-class="{'button-positive': isActive('performance')}" ng-click="setActive('performance')">Performance</a> -->
<!--             <a class="button" ng-class="{'button-positive': isActive('composition')}" ng-click="setActive('composition')">Composition</a> -->
<!--         </div> -->
<!--     </div> -->
      
      
          </ion-slide>
          
          <!--           slide6 -->
         <ion-slide>
                
                <label class="item">
          <h2 class="title">Recommended Strategy</h2>
        </label>
           <div class="list">
        
        <label class="item item-input">
          <span class="input-label">Conservative</span>
          <input type="number" ng-model="data.conservative">
        </label><label class="item item-input">
          <span class="input-label">Moderate</span>
          <input type="number" ng-model="data.moderate">
        </label><label class="item item-input">
          <span class="input-label">Growth</span>
          <input type="number" ng-model="data.growth">
        </label><label class="item item-input">
          <span class="input-label">Aggresive</span>
          <input type="number" ng-model="data.aggresive">
        </label>
      </div>
      
       <button class="button button-block button-positive" style="width:50%;margin-left: 25%%;" ng-click="next()">
        Go
      </button>
          </ion-slide>
          
          
          <!--           slide7 -->
         <ion-slide>
                
                <label class="item">
          <h2 class="title">Terms and Conditions Apply</h2>
        </label>
           <div>
        		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
      	   </div>
      
       <button class="button button-block button-positive" style="width:50%;margin-left: 25%%;" ng-click="agree()">
        I Agree
      </button>
      
      <button class="button button-block button-positive" style="width:50%;margin-left: 25%%;" ng-click="disagree()">
        I Disagree
      </button>
          </ion-slide>
          
        </ion-slide-box>
      </ion-view>