<ion-view view-title="Subscriptions" ng-controller="SubscriptionsCtrl">

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Onetime" icon-on="ion-ios-pricetag" icon-off="ion-ios-pricetag-outline">

      <!--<div class="card" style="margin-top: 10%;">-->
      <!--<label class="item item-input item-floating-label">-->
      <!--<input placeholder="money" ng-model="money.value" type="number" style="font-size: 38px;text-align: center;"/>-->
      <!--</label>-->

      <button class="button button-balanced  button-block button-outline" style="margin-bottom:50px;margin-top: 100px;padding-top: 25px;
      padding-bottom: 25px; width: 50%;margin-left:25%;">
        <span style="text-align:center;font-size:38px;">${{money.value}}</span>
      </button>

      <div class="button-bar" style="border-radius: 5px;width: 94%; margin-left: 3%;">
        <a class="button icon-left " ng-click="add()"><span class="ion-plus-round"></span></a>
        <a class="button icon-right " ng-click="sub()"><span class="ion-minus-round"></span></a>
      </div>
      <button class="button button-block button-positive" style="width:94%; margin-top: 30px;margin-left: 3%;">
        Submit
      </button>

    </ion-tab>

    <!--tab 2-->
    <ion-tab title="Recurring" icon-on="ion-ios-pricetags" icon-off="ion-ios-pricetags-outline">

      <button class="button button-balanced  button-block button-outline" style="margin-bottom:50px;margin-top: 100px;padding-top: 25px;
      padding-bottom: 25px; width: 50%;margin-left:25%;">
        <span style="text-align:center;font-size:38px;">${{money.value}}</span>
      </button>

      <div class="button-bar" style="border-radius: 5px;width: 94%; margin-left: 3%;">
        <a class="button icon-left " ng-click="add()"><span class="ion-plus-round"></span></a>
        <a class="button icon-right " ng-click="sub()"><span class="ion-minus-round"></span></a>
      </div>

      <div class="button-bar" style="margin-top: 20px;width: 94%; margin-left: 3%;">
        <a class="button button-small button-outline button-positive active ">Weekly</a>
        <a class="button button-small button-outline button-positive ">Monthly</a>
        <a class="button button-small button-outline button-positive">Quaterly</a>
      </div>

      <button class="button button-block button-positive" style="width:94%; margin-top: 30px;margin-left: 3%;">
        Submit
      </button>


    </ion-tab>

  </ion-tabs>

</ion-view>
