<ion-view ng-controller="SubscriptionsCtrl" class="bg-color">
  <ion-nav-title>
  <span style="color:white;font-size:20px;font-weight: 500;">Deposit</span>
  </ion-nav-title>

  <ion-content>

    <div class="button-bar" style="margin-top: 5px; margin-bottom:10px; width: 40%; margin-left: 30%;">
      <a class="button button-small button-outline button-light" ng-repeat="type in subTypeArr"
         ng-class="{'active':type.active}" ng-click="clickTypett(type)">
        <span style="font-weight: 500;" ng-class="{'button-clicked':type.active,'button-no-clicked':!type.active}">{{type.title}}</span></a>
    </div>

    <div ng-show="subTypeArr[0].active">
      <div style="height: 65%;">
        <button class="button button-light  button-block button-outline" style="margin-bottom:50px;margin-top: 20px;padding-top: 25px;
      padding-bottom: 25px; width: 50%;margin-left:25%;">
          <span style="text-align:center;font-size:38px;color: white;">${{money.value}}</span>
        </button>

        <div class="button-bar" style="border-radius: 5px;width: 94%; margin-left: 3%;">
          <a class="button button-outline button-light" ng-click="add()">
          <span class="ion-plus-round"
                style="color:white;"></span></a>
          <a class="button button-outline button-light" ng-click="sub()">
          <span class="ion-minus-round"
                style="color:white;"></span></a>
        </div>
      </div>

      <button class="button button-block button-light button-outline"
              style="width:60%;margin-left:20%; color: white;margin-top: 230px;font-size:20px;font-weight: 500;"
              ng-click="submit()">
        Invest
      </button>
    </div>

    <div ng-show="subTypeArr[1].active">

      <div style="height: 65%;">
        <button class="button button-light  button-block button-outline" style="margin-bottom:50px;margin-top: 20px;padding-top: 25px;
      padding-bottom: 25px; width: 50%;margin-left:25%;">
          <span style="text-align:center;font-size:38px;color: white;">${{money.value}}</span>
        </button>

        <div class="button-bar" style="border-radius: 5px;width: 94%; margin-left: 3%;">
          <a class="button button-outline button-light" ng-click="add()">
          <span class="ion-plus-round"
                style="color:white;"></span></a>
          <a class="button button-outline button-light" ng-click="sub()">
          <span class="ion-minus-round"
                style="color:white;"></span></a>
        </div>

        <div class="button-bar" style="margin-top: 20px;width: 94%; margin-left: 3%;">
          <a class="button button-small button-outline button-light" ng-repeat="type in subTypes"
             ng-class="{'active':type.active}" ng-click="clickType(type)">
            <span style="font-weight: 500;" ng-class="{'button-clicked':type.active,'button-no-clicked':!type.active}">{{type.title}}</span></a>
        </div>
      </div>

    </div>

    <button class="button button-block button-light button-outline"
            style="width:60%;margin-left:20%; color: white;margin-top: 180px;font-size:20px;font-weight: 500;"
            ng-click="submit()">
      Invest
    </button>

    </div>

  </ion-content>

</ion-view>
