<ion-view ng-controller="SummaryCtrl" ng-init="init()">
  <ion-nav-title>
    <span style="color:white; font-size:20px;font-weight: 500;">Summary</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" style="color:white;" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-content class="bg-color">
  <br/>
  <br/>
  <br/>
    <div >
      <h3 style="text-align:center;color:white;">Account Balance</h3>
    </div>
    <div style="text-align:center;font-size:38px;margin-bottom:3%;color:white;font-weight: 500;">$ 329.53</div>
    <br/>
    <h4 style="text-align:center;color:white;font-weight: 500;">Invested Last Month</h4>
    <div style="text-align:center;font-size:28px;margin-bottom:3%;color:white;font-weight: 500;">$ 58.38</div>
    <br/>
    <h4 style="text-align:center;color:white;font-weight: 500;">Total Gain Since Inception</h4>
    <div style="text-align:center;font-size:28px;margin-bottom:3%;color:white;font-weight: 500;">+ 4.2%</div>
<!--     <ion-slide-box on-slide-changed="slideChanged(index)"> -->
<!--           <ion-slide> -->
<!--           <div style="text-align:center;"> -->
<!--          $ Invested -->
<!--      </div> -->
<!--              <div class="list"> -->
<!--           <a class="item" ng-repeat=" item in investmentStartegyDollarData" ng-class="$odd ? 'stripLine' : ''"> -->
<!--             <span style="float: left">{{item.categoryName}}</span> -->
<!--             <span style="float: right">${{item.value}}</span> -->
<!--           </a> -->
<!--         </div> -->
<!--           </ion-slide> -->
<!--           <ion-slide> -->
<!--           <div style="text-align:center;"> -->
<!--          % Invested -->
<!--        </div> -->
<!--            <div class="list"> -->
<!--           <a class="item" ng-repeat=" item in investmentStartegyPercentageData" ng-class="$odd ? 'stripLine' : ''"> -->
<!--             <span style="float: left">{{item.categoryName}}</span> -->
<!--             <span style="float: right">{{item.value}}%</span> -->
<!--           </a> -->
<!--         </div> -->
<!--           </ion-slide> -->
<!--         </ion-slide-box> -->

  </ion-content>


</ion-view>
