<ion-view ng-controller="SummaryCtrl" ng-init="init()">
 <ion-nav-bar class="nav-title-slide-ios7 bar-light transparent-nav" style="background: blue">
     <img src="img/icon.png" style="width: 60px;height: 46px;">
    <!-- <span style="color:white; font-size:20px;font-weight: 500;">Home</span> -->
  </ion-nav-bar>
 <img src="img/icon.png" style="width: 89px;height: 67px;">
  <div id="logo" style="margin-top:18%;">
      <img src="img/icon.png" style="width: 87px;height: 66px;">
  </div>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" style="color:white;" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-content class="bg-color">
  <br/>
    <div >
      <h3 style="text-align:center;color:white;">Amount Invested</h3>
    </div>
    <div style="text-align:center;font-size:38px;margin-bottom:3%;color:white;font-weight: 500;">$ 329.53</div>
    <br/>
    <h4 style="text-align:center;color:white;font-weight: 500;">Invested Last Month</h4>
    <div style="text-align:center;font-size:28px;margin-bottom:3%;color:white;font-weight: 500;">$ 58.38</div>
    <br/>
    <h4 style="text-align:center;color:white;font-weight: 500;">Total Gain Since Inception</h4>
    <div style="text-align:center;font-size:28px;margin-bottom:3%;color:white;font-weight: 500;">+ 4.2%</div>
<!--     <ion-slide-box on-slide-changed="slideChanged(index)"> -->
<!--           <ion-slide> -->
<!--           <div style="text-align:center;"> -->
<!--          $ Invested -->
<!--      </div> -->
<!--              <div class="list"> -->
<!--           <a class="item" ng-repeat=" item in investmentStartegyDollarData" ng-class="$odd ? 'stripLine' : ''"> -->
<!--             <span style="float: left">{{item.categoryName}}</span> -->
<!--             <span style="float: right">${{item.value}}</span> -->
<!--           </a> -->
<!--         </div> -->
<!--           </ion-slide> -->
<!--           <ion-slide> -->
<!--           <div style="text-align:center;"> -->
<!--          % Invested -->
<!--        </div> -->
<!--            <div class="list"> -->
<!--           <a class="item" ng-repeat=" item in investmentStartegyPercentageData" ng-class="$odd ? 'stripLine' : ''"> -->
<!--             <span style="float: left">{{item.categoryName}}</span> -->
<!--             <span style="float: right">{{item.value}}%</span> -->
<!--           </a> -->
<!--         </div> -->
<!--           </ion-slide> -->
<!--         </ion-slide-box> -->

  <!-- </ion-content> -->
  <div id="circle" style="margin-bottom:90%; margin-left:25%">
      <img src="img/circle.png" style="width: 200px;height: 190px;">
          </div>


  </ion-content>


</ion-view>
