<ion-view view-title="Transactions" ng-controller="TransactionsCtrl" ng-init="init()">

  <ion-content>

    <div class="button-bar" style="margin-top: 5px; margin-bottom:10px; width: 40%; margin-left: 30%;">
      <a class="button button-small button-outline button-positive" ng-repeat="type in subTypes"
         ng-class="{'active':type.active}" ng-click="clickType(type)">{{type.title}}</a>
    </div>

    <div class="list" ng-show="subTypes[0].active">
      <div ng-repeat=" (date, list) in  dateData">
        <div class="item item-divider">
          {{date}}
        </div>
        <a class="item item-icon-left item-icon-right" ng-repeat="tran in list">
          <i class="icon ion-email"></i>
          <h2>{{tran.merchantName}}</h2>
          <p>${{tran.amount}}</p>
          <i class="icon"> ${{tran.remainder}}</i>
        </a>
      </div>
    </div>

    <div class="list" ng-show="subTypes[1].active">
      <div ng-repeat=" (date2, list2) in  subData">
        <div class="item item-divider">
          {{date2}}
        </div>
        <a class="item item-icon-left item-icon-right" ng-repeat="tran in list2">
          <i class="icon ion-email"></i>
          <h2>{{tran.type}}</h2>
          <p>{{tran.subType}}</p>
          <i class="icon"> ${{tran.amount}}</i>
        </a>
      </div>
    </div>


  </ion-content>


</ion-view>
