<ion-view view-title="What if" ng-controller="WhatIfCtrl">

  <ion-content>
 	<div class="list">
        <label class="item item-input">
          <span class="input-label">Age</span>
          <input type="text" ng-model="data.age">
        </label>
        <label class="item item-input">
          <span class="input-label">Monthly Amount</span>
          <input type="text" ng-model="data.monthly">
        </label>
        <label class="item item-input">
          <span class="input-label">Conservative</span>
          <input type="number" ng-model="data.conservative">
        </label><label class="item item-input">
          <span class="input-label">Moderate</span>
          <input type="number" ng-model="data.moderate">
        </label><label class="item item-input">
          <span class="input-label">Growth</span>
          <input type="number" ng-model="data.growth">
        </label><label class="item item-input">
          <span class="input-label">Aggresive</span>
          <input type="number" ng-model="data.aggresive">
        </label>
        
        
        <label class="item">
          <button class="button button-block button-assertive" ng-click="go()">Go</button>
        </label>
        
        </div>
  </ion-content>


</ion-view>