<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.microinvesting515076" version="0.0.1"
	xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:gap="http://phonegap.com/ns/1.0">
	<name>microInvesting</name>
	<description>
		An Ionic Framework and Cordova project.
	</description>
	<author email="you@example.com" href="http://example.com.com/">
		Your Name Here
	</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="android-minSdkVersion" value="16" />
	<preference name="BackupWebStorage" value="none" />
	<preference name="BackgroundColor" value="#3293b0"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
		<param name="android-package" value="org.apache.cordova.statusbar.StatusBar" />
		<param name="onload" value="true" />
		<param name="wp-package" value="StatusBar" />
		<param name="id" value="org.apache.cordova.statusbar" />
	</feature>
	<feature name="Console">
		<param name="ios-package" value="CDVLogger" />
		<param name="wp-package" value="DebugConsole" />
		<param name="id" value="org.apache.cordova.console" />
	</feature>
	<feature name="Contacts">
		<param name="android-package" value="org.apache.cordova.contacts.ContactManager" />
		<param name="ios-package" value="CDVContacts" />
		<param name="wp-package" value="Contacts" />
		<param name="id" value="org.apache.cordova.contacts" />
	</feature>
	<feature name="SplashScreen">
		<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
		<param name="onload" value="true" />
		<param name="ios-package" value="CDVSplashScreen" />
		<param name="wp-package" value="SplashScreen" />
	</feature>
	<feature name="Keyboard">
		<param name="android-package" value="com.ionic.keyboard.IonicKeyboard" />
		<param name="onload" value="true" />
		<param name="ios-package" value="CDVKeyboard" />
	<param name="id" value="com.ionic.keyboard" /></feature>
</widget>